<%= form_with model: password do |form| %>
  <% if form.object.errors.any? %>
    <ul>
      <% form.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :url, class: "form-label" %>
    <%= form.url_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :username, class: "form-label" %>
    <%= form.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password, class: "form-label" %>
    <%#= form.password_field :password, class: "form-control" %>
    <%= form.text_field :password, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>

  <%= button_tag "Delete", form: "delete_password", class: "btn btn-danger" if form.object.persisted? && current_user_password.deletable? %>
<% end %>

<%= form_with model: password, method: :delete, id: "delete_password", data: { turbo_confirm: "Are you sure?" } %>
